In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load 
data = "Resources/SPS Abundance - Population data and references for the Salmon Population Summary (SPS) Database Data.csv"

#read the excel
salmon_data = pd.read_csv(data)

salmon_data.head()

C:\Users\Family\AppData\Local\Temp\ipykernel_28408\1991461554.py:8: DtypeWarning: Columns (7,35,54,55,57,58,63,69,70,72,73) have mixed types. Specify dtype option on import or set low_memory=False.
  salmon_data = pd.read_csv(data)

,Recovery Domain,Esu Name,Major Population Group,Common Population Name,Nwr Population Name,Genus,Species,Stream Name,Run Timing,Start Year,...,Spawner Ref Notes,Wild Frac Title,Wild Frac Author,Wild Frac Pubyear,Wild Frac Publisher,Wild Frac Ref Notes,Record Number,Accessed Date,Source Url,Preferred Citation
0,Interior Columbia,Middle Columbia River Steelhead DPS,Cascades Eastern Slope Tributaries,Deschutes River,Steelhead (Middle Columbia River DPS) - Deschu...,Oncorhynchus mykiss,Steelhead,Deschutes River East Side,NaN,1990.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Row 1 of 66428,Accessed on 2023-06-01 17:05:50,https://www.webapps.nwfsc.noaa.gov/apex/parrda...,"Barnas Torpey, Katie; 12/02/2016. NOAA Fisheri..."
1,Interior Columbia,Middle Columbia River Steelhead DPS,Cascades Eastern Slope Tributaries,Deschutes River,Steelhead (Middle Columbia River DPS) - Deschu...,Oncorhynchus mykiss,Steelhead,Deschutes River East Side,NaN,1990.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Row 2 of 66428,Accessed on 2023-06-01 17:05:50,https://www.webapps.nwfsc.noaa.gov/apex/parrda...,"Barnas Torpey, Katie; 12/02/2016. NOAA Fisheri..."
2,Interior Columbia,Middle Columbia River Steelhead DPS,Cascades Eastern Slope Tributaries,Deschutes River,Steelhead (Middle Columbia River DPS) - Deschu...,Oncorhynchus mykiss,Steelhead,Deschutes River East Side,NaN,1990.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Row 3 of 66428,Accessed on 2023-06-01 17:05:50,https://www.webapps.nwfsc.noaa.gov/apex/parrda...,"Barnas Torpey, Katie; 12/02/2016. NOAA Fisheri..."
3,Interior Columbia,Middle Columbia River Steelhead DPS,Cascades Eastern Slope Tributaries,Deschutes River,Steelhead (Middle Columbia River DPS) - Deschu...,Oncorhynchus mykiss,Steelhead,Deschutes River East Side,NaN,1990.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Row 4 of 66428,Accessed on 2023-06-01 17:05:50,https://www.webapps.nwfsc.noaa.gov/apex/parrda...,"Barnas Torpey, Katie; 12/02/2016. NOAA Fisheri..."
4,Interior Columbia,Middle Columbia River Steelhead DPS,Cascades Eastern Slope Tributaries,Deschutes River,Steelhead (Middle Columbia River DPS) - Deschu...,Oncorhynchus mykiss,Steelhead,Deschutes River East Side,NaN,1990.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Row 5 of 66428,Accessed on 2023-06-01 17:05:50,https://www.webapps.nwfsc.noaa.gov/apex/parrda...,"Barnas Torpey, Katie; 12/02/2016. NOAA Fisheri..."

In [7]:
salmon_data.columns

Index(['Recovery Domain', 'Esu Name', 'Major Population Group',
       'Common Population Name', 'Nwr Population Name', 'Genus', 'Species',
       'Stream Name', 'Run Timing', 'Start Year', 'End Year', 'Brood Year',
       'Viability Type', 'Run', 'Number Of Spawners', 'Spawner Notes',
       'Fracwild', 'Hatchery Fraction', 'Hatchery Fraction Notes',
       'Effective Catch', 'Age 1 Returns', 'Age 2 Returns', 'Age 3 Returns',
       'Age 4 Returns', 'Age 5 Returns', 'Age 6 Returns', 'Age 7 Returns',
       'Age 1 Harvest', 'Age 2 Harvest', 'Age 3 Harvest', 'Age 4 Harvest',
       'Age 5 Harvest', 'Age 6 Harvest', 'Age 7 Harvest', 'Regime',
       'Age Notes', 'Abund Count External File 1 Li',
       'Abund Count External File 2 Li', 'Total Spawners With Jacks',
       'Natural Spawners With Jacks', 'Natural Adult Annual Run 4 6',
       'Jack Frac Of Hatchery Spawners', 'Adult Natural Harvest Rate',
       'Nat No Origin Brood Stock', 'Adult Brood Returns',
       'Sar Adjusted Adult Brd Returns', 'Link Reference S',
       'Adjusted Link Reference S', 'Hatchery Return', 'Age Data Type',
       'Age Determination Sample Size', 'Total Spawners Without Jacks',
       'Contact Agency', 'Nmfs Popid', 'Age Title', 'Age Author',
       'Age Pubyear', 'Age Publisher', 'Age Ref Notes', 'Catch Title',
       'Catch Author', 'Catch Pubyear', 'Catch Publisher', 'Catch Ref Notes',
       'Spawner Title', 'Spawner Author', 'Spawner Pubyear',
       'Spawner Publisher', 'Spawner Ref Notes', 'Wild Frac Title',
       'Wild Frac Author', 'Wild Frac Pubyear', 'Wild Frac Publisher',
       'Wild Frac Ref Notes', 'Record Number', 'Accessed Date', 'Source Url',
       'Preferred Citation'],
      dtype='object')

In [25]:
#groupby year and species for salmon_data
salmon_year_species_df = salmon_data.groupby(['Species','Brood Year'], as_index=False)['Number Of Spawners'].sum()
salmon_year_species_df

       Species  Brood Year  Number Of Spawners
0                     1949              2912.0
1                     1950              2005.0
2                     1951              1563.0
3                     1952             47127.0
4                     1953             46200.0
..         ...         ...                 ...
717  steelhead        2015              4508.0
718  steelhead        2016              5778.0
719  steelhead        2017               822.0
720  steelhead        2018              1829.0
721  steelhead        2019              3202.0

[722 rows x 3 columns]

In [26]:
salmon_filtered = salmon_year_species_df[(salmon_year_species_df['Brood Year'] >= 2000) & (salmon_year_species_df['Species'] != "")].reset_index(drop=True)
salmon_filtered

       Species  Brood Year  Number Of Spawners
0                     2000           2234597.0
1                     2001           4796649.0
2                     2002           7558071.0
3                     2003           7432330.0
4                     2004           6944832.0
..         ...         ...                 ...
216  steelhead        2015              4508.0
217  steelhead        2016              5778.0
218  steelhead        2017               822.0
219  steelhead        2018              1829.0
220  steelhead        2019              3202.0

[221 rows x 3 columns]